{
    "presets": [
        [
            "@babel/preset-env",
            // only include the usage polyfills.
            {
                "useBuiltIns": "usage"
            }
        ]
    ],
    "plugins": []
}